#header-top {
    display: flex;
    justify-content: space-between;
}

#header-top img {
    max-width: 40%;
}

#header-top span {
    width: 42%;
    margin: 0 10 0 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18pt;
    text-align: center;
}

#header-top span::first-line {
    font-size: 13pt;
}

h1 {
    text-align: center;
}

#header-paciente {
    display: flex;
}

#header-paciente input {
    flex-grow: 3;
}
