body {
  font-family: sans-serif;
}
ul {
  list-style: none;
  padding: 0; 
}
*[hidden] {
  display: none;
}
.prescription-form.disabled {
  display: none;    
}

/* Colors */
body {
  background: #f2f2f2;
}
.main-column {
  background: white;
  padding: 5px;
  width: 70%;
  margin: 2px;
  float: left;
}
.right-column {
  background: #e0e0e0;
  width: 25%;
  float: right;
  padding: 3px;
}
#resetDrugs {
  margin-left: 2em;
}
div.specialPrescriptionToggle {
  padding-bottom: 10px;  
}
div.specialPrescriptionToggle span.specialPrescriptionLabel {
  position: relative;
  top: 1em;
  left: 4px;  
}

/* DRUG ICONS PANEL */
.drug-icons {
  padding: 0px 4px;
}
.drug-icons img {
  margin: 4px;
  max-width: 35px;
  max-height: 35px;
}
.drug-icons img.unchecked {
  filter: grayscale(100%);
  opacity: 0.25;
}
.group-by-schedule .drug-icons {
    display: none;
}
.group-by-schedule .routeHeader {
	background-repeat: no-repeat;
    background-size: 35px 35px;
	height: 35px;
	width: 35px;
    display: block;
    text-indent: -999em;
    margin: 5px 0;
    /* forces images to be printed on paper */
    -webkit-print-color-adjust: exact;
}
.group-by-schedule .routeHeader.group-0 {
    background-image: url("/static/images/icons/pro-coffee.svg");
}
.group-by-schedule .routeHeader.group-1 {
    background-image: url("/static/images/icons/pro-sun.svg");
}
.group-by-schedule .routeHeader.group-2 {
    background-image: url("/static/images/icons/pro-moon.svg");
}
/* Receita Items */
.receitaItem {
  display: flex;
  flex-direction: row;
}
.receitaItem .printable-drug-text {
  font-family: monospace;
  font-size: 12pt;
  display: none;
}
.receitaItem .drug-text-wrapper {
  flex: 2;
}
 
.prescribed-image img {
  max-width: 80%;
}

/* General organization */
div.collapsed {
  display: none;
}

.attribution, .attribution a {
  color: #666;
  font-size: small;
}

@media print {
  html, body {
    size: A4;
  }
  .prescription-form {
    min-height: 95%;
  }
  body { background: white; }
  .main-column {
    width: 100%;
    page-break-after: always;
    page-break-before: always;
    page-break-inside: avoid;
  }
  #drogas-form,
  .attribution,
  button,
  textarea,
  .group-by-route img.unchecked {
    display: none;
  }
  input {
    border: none;
  }
  .receitaItem {
    margin-bottom: 1.4em;
  }
  .receitaItem .printable-drug-text {
    display: block;
  }
}
