/* -------- POSITIONING -------- */
.drugbox-page {
    width: 764px;
    height: 1083px;
    background-image: url('/static/images/drug_box_template.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-print-color-adjust: exact;
    page-break-after: always;
    page-break-before: always;
    page-break-inside: avoid;
}
.drugbox-container {
    position: relative;
    top: 420px;
    left: 12px;
    width: 223px;   /* 243 - (10 + 10 of padding) */
    height: 223px;  /* 243 - (10 + 10 of padding) */
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    transform: rotate(-0.25turn);
}

/* -------- STRUCTURE INSIDE drugbox-container -------- */
.usage-hour {
    flex-grow: 2;
    text-align: center;
}
.drugs-list {
    margin: 0;
    padding: 0;
}
.drugs-list li {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.drugs-list li .drug-name, 
.drugs-list li .drug-icons {
    display: inline;
}
.drugs-list li .drug-name {
    flex-grow: 2;
    font-family: sans-serif;
}

/* -------- image sizes -------- */
.usage-hour img {
    height: 40px;
    width: 40px;
}
.drugs-list li .drug-icons img {
    height: 20px;
    width: 20px;
}
@media print {
    .drugbox-page {
        size: A4;
    }
}