img {
    height: 20px;
    width: 20px;
}
.drugbox-page {
    width: 588px;
    height: 833px;
    background-image: url('/static/images/drug_box_template.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-print-color-adjust: exact;
    page-break-after: always;
    page-break-before: always;
    page-break-inside: avoid;
}

.drugbox-container {
    position: relative;
    top: 44px;
    left: 208px;
    width: 153px;
    height: 153px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

.usage-hour {
    flex-grow: 2;
    text-align: center;
}
.usage-hour img {
    height: 40px;
    width: 40px;
}
.drugs-list {
    margin: 0;
    padding: 0;
}
.drugs-list li {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.drugs-list li .drug-name, 
.drugs-list li .drug-icons {
    display: inline;
}
.drugs-list li .drug-name {
    flex-grow: 2;
    font-family: sans-serif;
    font-size: smaller;
}
.drugs-list li .drug-icons img {
    height: 15px;
    width: 15px;
}