.icon-select .show-options {
    float: right;
}
.icon-select img {
    width: 60px;
    height: 60px;
}
.icon-select .selected-icons {
    display: inline-block;
    margin: 0.1em;
}
.icon-select .selected-icons img {
    margin: 2px;
}
.icon-select .icon-options {
    background-color: white;
    float: right;
    width: 448px;
}
.icon-select .icon-options div.category {
    margin: 10px 0 0 0;
}
.icon-select .icon-options img {
    border: 2px white solid;
}
.icon-select .icon-options img:hover {
    border-color: black;
}
.icon-select .icon-options img.selected {
    background-color: lightgreen;
}

