.icon-select .selected-icons {
    height: 44px;
    display: inline-block;
}
.icon-select .show-options {
    float: right;
}
.icon-select img {
    width: 40px;
    height: 40px;
}
.icon-select .icon-options {
    background-color: white;
    float: right;
    width: 88px;
}
.icon-select .icon-options img {
    border: 2px white solid;
}
.icon-select .icon-options img:hover {
    border-color: black;
}
.icon-select .icon-options img.selected {
    background-color: lightgreen;
}

/* .icon-select .selected {} */