#header-top {
    text-align: center;
}
#header-top img {
    max-height: 120px;
}
h1 {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    margin: 2em 0;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#header-paciente {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#header-paciente input.paciente {
    font-size: 20px;
    width: 80%;
}