html, body, div, fieldset, input, label, span, img, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
h1 { font-size: 16pt; }
h2 { font-size: 12pt; }
h3 { font-size: 11pt; }
body { font-size: 10pt; }


/* FIELDSETS, shared styles. */
fieldset {
    border: 1px solid black;
}
fieldset.no-border {
    border: none;
}
fieldset h2 {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 3px;
}
fieldset div.row {
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
}
fieldset div.row input {
    flex-grow: 2;
    flex-shrink: 2;
    min-width: 2em;
}

/* top headers */
.special-prescription-form > * {
    margin: 1em 0;
}
.special-prescription-form #header-top {
    position: relative;
    height: 100px;
    text-align: center;
}
.special-prescription-form #header-top h1 {
    padding-top: 20px;
}
.special-prescription-form #header-top img {
    display: block;
    position: absolute;
    left: 40px;
    width: 90px;
    height: 90px;
}
.special-prescription-form #header-emitente {
    display: flex;
}
.special-prescription-form #header-emitente > fieldset {
    width: 70%
}
.special-prescription-form #header-emitente > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}
.special-prescription-form #header-infos {
    display: flex;
}
.special-prescription-form #header-infos fieldset {
    width: 48%;
    margin: 0 1em;
}
.special-prescription-form #fornecedor {
    display: flex;
    flex-direction: column;
}
.special-prescription-form #fornecedor div:nth-child(2) {
    flex-grow: 2;
}

/**************************************************************
  Specific CSS for Jaguarari.
**************************************************************/
.special-prescription-form.jaguarari #header-top {
    height: auto;
    display: flex;
}
.special-prescription-form.jaguarari #header-top img {
    /* override position: absolute for Ourolandia. */
    position: static;
    width: 100%;
    height: auto;
}
.special-prescription-form.jaguarari #header-top .col1 {
    width: 20%;
}
.special-prescription-form.jaguarari #header-top .col3 {
    width: 10%;
}
.special-prescription-form.jaguarari #header-top .col2 {
    width: 70%;
}
.special-prescription-form.jaguarari #header-top .col3 {
    display: flex;
    flex-direction: column;
}
.special-prescription-form.jaguarari #prescription h3 {
    text-align: center;
}
.date-and-signature-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    font-size: 5pt;
}
.date-and-signature-grid > div {
    margin: 3px;
}
.date-and-signature-grid input {
    width: 100%;
}
.date-and-signature-grid .p1,
.date-and-signature-grid .p3 {
    width: 100%;
}
.date-and-signature-grid .p2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.date-and-signature-grid .p3 {
    text-wrap: nowrap;
}
@media print {
    fieldset div.row input,
    .date-and-signature-grid input {
        border-bottom: 1px solid black;
    }
}