<div id='header-telefones'>
    <h2>TELEFONES ÚTEIS</h2>
    <div>
        <span>
            SEC. SAÚDE<BR>
            3866 8550<BR>
            <BR>
            SAMU<BR>
            192
        </span>
        <SPAN>
            HDM/IMIP<BR>
            3232 9500<BR>
            <BR>
            CAPS AD<BR>
            3862 3677
        </SPAN>
        <SPAN>
            COAS<BR>
            3866 8579<BR>
            <BR>
            POLICLINICA<BR>
            3863 4930
        </SPAN>
        <SPAN>
            CEREST<BR>
            3862 1238<BR>
            <BR>
            VIGILÂNCIA SANITÁRIA<BR>
            3864 2738
        </SPAN>
        <SPAN>
            HOSPITAL UNIVERSITÁRIO<BR>
            2101 6500<BR>
            <BR>
            DISK DENGUE<BR>
            3861 5007<BR>
        </SPAN>
        <SPAN>
            FARMÁCIA POPULAR<BR>
            3864 2367<BR>
            3867 3232
        </SPAN>
        <SPAN>
            VIGILÂNCIA EPIDEMIOLÓGICA<BR>
            3866 8559<BR>
            <BR>
            ZOONOSES<BR>
            3867 4774
        </SPAN>
    </div>
</div>