<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Receita Fácil</title>
        <link rel="stylesheet" type="text/css" href="/static/css/drug_box_style.css">
    </head>
    <body>
        {% for drug in drugs %}
        <div class="drugbox-page">
            <div class="drugbox-container">
                <div class='usage-hour'>    
                    {% for usage_hour in drug.usage_hours %}
                        {% if usage_hour == 'morning' %}
                            <img src="/static/images/icons/pro-coffee.svg" />
                        {% elif usage_hour == 'lunch' %}
                            <img src="/static/images/icons/pro-sun.svg" />
                        {% elif usage_hour == 'night' %}
                            <img src="/static/images/icons/pro-moon.svg" />
                        {% endif %}
                    {% endfor %}
                </div>
                <div class='drug-name'>
                    <span>{{ drug.name }}</span>
                </div>
                <div class='drug-icon'>
                    {% for i in drug.icon %}
                        <img src="{{ i }}" />
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </body>
</html>