<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Receita Fácil</title>
        <link rel="stylesheet" type="text/css" href="/static/css/drug_box_style.css">
    </head>
    <body>
        {% for schedule, drug_list in drugs %}
        <div class="drugbox-page">
            <div class="drugbox-container">
                <div class='usage-hour'>    
                    {% if schedule == 'morning' %}
                        <img src="/static/images/icons/pro-coffee.svg" />
                    {% elif schedule == 'lunch' %}
                        <img src="/static/images/icons/pro-sun.svg" />
                    {% elif schedule == 'dinner' %}
                        <img src="/static/images/icons/pro-moon.svg" />
                    {% endif %}
                </div>
                <ul class='drugs-list'>
                    {% for drug_name, drug_icons in drug_list %}
                        <li>
                            <span class='drug-name'>{{ drug_name }}</span>
                            <div class='drug-icons'>
                                {% for icon in drug_icons %}
                                <img src="{{ icon }}" />
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </body>
</html>