{% extends "main.html" %}
{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="/static/css/ourolandia.css">
<link rel="stylesheet" type="text/css" href="/static/css/jaguarari.css">
{% endblock %}
{% block simple_prescription %}
<div class='prescription-form simple-prescription-form'>
    <div id='header-top'>
        <img src="/static/images/logoJaguarari.png" />
        <img src="/static/images/logoJaguarariPrefeitura.png" />
    </div>
    <h1>RECEITUÁRIO</h1>
    <div id="header-paciente">
        <span>PACIENTE:</span>
        <input type="text" class="paciente" />
    </div>
    <ul id="receita-simples"></ul>
</div>
{% endblock %}

{% block special_prescription %}
<div class='prescription-form special-prescription-form jaguarari' hidden='true'>
    <div id="header-top">
        <div class='col1'>
            <img src="/static/images/logoJaguarariSemus.png">
        </div>
        <div class="col2">
            <h1>RECEITUÁRIO DE CONTROLE ESPECIAL</h1>
            <h2>Rua Pedro Santana, s/n - Centro - Jaguarari - BA</h2>
            <h2>CEP 48960-000 - CNPJ 11.135.974/0001-07</h2>
        </div>
        <div class="col3">
            <img src="/static/images/logoJaguarari.png">
            <img src="/static/images/logoJaguarariPrefeitura.png">
        </div>
    </div>
    <div id='header-emitente'>
        <fieldset id='emitente'>
            <h2>IDENTIFICAÇÃO DO EMITENTE</h2>
            <div class='row'>
                <label for='emitente-name'>Nome completo: </label>
                <input name='emitente-name' type='text' />
            </div>
            <div class='row'>
                <input name='emitente-name' type='text' />
            </div>
            <div class='row'>
                <label for='emitente-crm'>CRM:</label>
                <input name='emitente-crm' type='text' />
                <label for='emitente-uf'>UF:</label>
                <input name='emitente-uf' type='text' />
            </div>
            <div class='row'>
                <label for='emitente-endereco'>Endereço:</label>
                <input name='emitente-endereco' type='text' />
            </div>
            <div class='row'>
                <label for='emitente-telefone'>Telefone:</label>
                <input name='emitente-telefone' type='text' />
            </div>
            <div class='row'>
                <label for='emitente-bairro'>Bairro:</label>
                <input name='emitente-bairro' type='text' />
            </div>
            <div class='row'>
                <label for='emitente-cidade'>Cidade:</label>
                <input name='emitente-cidade' type='text' />
                <label for='emitente-uf'>UF:</label>
                <input name='emitente-uf' type='text'/>
            </div>
        </fieldset>
        <div>
            <div>1ª via FARMÁCIA</div>
            <div>2ª via USUÁRIO</div>
        </div>
    </div>
    <fieldset id='header-patient' class='no-border'>
        <div class='row'>
            <label for='patient-name'>Paciente:</label>
            <input type='text' name='patient-name' />
        </div>
        <div class='row'>
            <label for='patient-address'>Endereço:</label>
            <input type='text' name='patient-address' />
        </div>
    </fieldset>

    <div id='prescription'>
        <h3>Prescrição</h3>
        <ul id='receita-especial'></ul>
        <div id='date-and-signature'>
            <span>Data: <span class='autofill-date'></span></span>
        </div>
    </div>
    <div id='header-infos'>
        <fieldset>
            <h2>IDENTIFICAÇÃO DO COMPRADOR</h2>
            <div class="row">
                <label for='buyer-name'>Nome:</label>
                <input type="text" name="buyer-name" disabled />
            </div>
            <div class="row">
                <label for='buyer-id'>Ident.:</label>
                <input type="text" name="buyer-id"  disabled/>
                <label for='buyer-emissor'>Org. Emissor:</label>
                <input type="text" size="1" name="buyer-emissor" disabled />
            </div>
            <div class="row">
                <label for='buyer-address'>Endereço:</label>
                <input type="text" name="buyer-address"  disabled />
            </div>
            <div class="row">
                <input type="text" name="buyer-address2"  disabled />
            </div>
            <div class="row">
                <label for='buyer-city'>Cidade:</label>
                <input type="text" name="buyer-city"  disabled />
            </div>
            <div class="row">
                <label for='buyer-uf'>UF:</label>
                <input type="text" name="buyer-uf"  disabled />
            </div>
            <div class="row">
                <label for='buyer-telephone'>Telefone:</label>
                <input type="text" name="buyer-telephone"  disabled />
            </div>
        </fieldset>
        <fieldset id='fornecedor'>
            <h2>IDENTIFICAÇÃO DO FORNECEDOR</h2>
            <div class="row"></div>
            <div class="date-and-signature-grid">
                <div class='p1'><input type="text" size="1" disabled ></div>
                <div class='p2'>____ / ____ / ____</div>
                <div class='p3'>ASSINATURA E CARIMBO DO FARMACÊUTICO</div>
                <div class='p4'>DATA</div>
            </div>
        </fieldset>
    </div>
</div>
{% endblock %}