{% extends "main.html" %}
{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="/static/css/santa_cruz_style.css">
{% endblock %}
{% block simple_prescription %}
<div class='prescription-form simple-prescription-form'>
    <div id='header-top'>
        <img src="/static/images/logoSantaCruz.png">
        <div>
            <h1>Prefeitura Municipal de Santa Cruz-PE</h1>
            <h2>SECRETARIA MUNICIPAL DE SAÚDE</h2>
        </div>
    </div>
    <div id='main-content'>
        <h2>RECEITUÁRIO</h2>
        <div class='field-row'>
            <label for='unidade-de-saude'>UNIDADE DE SAÚDE:</label>
            <input type='text' name='unidade-de-saude'>
        </div>
        <div class='field-row'>
            <label for='patient-name'>PACIENTE:</label>
            <input type='text' name='patient-name'>
        </div>
        <ul id="receita-simples"></ul>
        <div class='gap'></div>
        <div id='date-and-signature'>
            <div id='prescription-date'>
                Data: <span class='autofill-date'></span>
            </div>
            <div class='gap'></div>
            <div id='signature'>
                <div class='provider-signature'>Médico - CRM</div>
            </div>
        </div>
    </div>
    <div id='dynamic-bottom'></div>
</div>
{% endblock %}
{% block special_prescription %}
<div class='prescription-form special-prescription-form' hidden='true'>
    <div id="header-top">
        <img src="/static/images/logoSantaCruz.png" />
        <div>
            <H1>PREFEITURA MUNICIPAL DE SANTA CRUZ</H1>
            <H1>PE</H1>
            <H1>SECRETARIA MUNICIPAL DE SAÚDE</H1>
            <H1>C.N.P.J. 24.301.475/0001-86</H1>
            <H2>RUA VALDEMARIO SOARES, Nº 19 - CENTRO SANTA CRUZ</H2>
            <H2>Fone: (0**87) 3874-8177 - C.E.P.: 56.215.000 SANTA CRUZ / PE</H2>
        </div>
    </div>
    <h1>
        RECEITUÁRIO DE CONTROLE ESPECIAL
    </h1>
    <div id='header-emitente'>
        <div id='emitente'>
            <h3 class='box-heading'>IDENTIFICAÇÃO DO EMITENTE</h3>
            <div class='field-row'>
              <label for='emitente-name'>Nome: </label>
              <input name='emitente-name' type='text' />
            </div>
            <div class='field-row'>
              <label for='emitente-crm'/>CRM: </label>
              <input name='emitente-crm' type='text' />
              <label for='emitente-crm-uf'/>UF: </label>
              <input name='emitente-crm-uf' type='text' />
              <label for='emitente-number'/>Nº: </label>
              <input name='emitente-number' type='text' />
            </div>
            <div class='field-row'>
              <label for='emitente-address'>Endereço: </label>
              <input name='emitente-address' type='text' />
            </div>
            <div class='field-row'>
              <label for='emitente-city'>Cidade: </label>
              <input name='emitente-city' type='text' />
              <label for='emitente-uf'>UF: </label>
              <input name='emitente-uf' type='text' />
            </div>
        </div>
        <div>
            <div>1ª via - Farmácia</div>
            <div>2ª via - Paciente</div>
        </div>
    </div>
    <div id='header-usuario' class='field-row'>
        <label for='patient-name'>PACIENTE:</label>
        <input type='text' name='patient-name'>
    </div>
    <div id='header-endereco' class='field-row'>
        <label for='usuario'>ENDEREÇO:</label>
        <input type='text' name='endereco'>
    </div>
    <div id='header-prescricao'>
        <h2>Prescrição</h2>
        <ul id='receita-especial'></ul>
        <div id='date-and-signature'>
            <span>Data: <span class='autofill-date'></span></span>
        </div>
    </div>
    <div id='header-infos'>
        <div id='info-usuario'>
            <h3 class='box-heading'>
                IDENTIFICAÇÃO DO COMPRADOR
            </h3>
            <div class='field-row'>
                <label for='buyer-name'>Nome:</label>
                <input type='text' name='buyer-name'>
            </div>
            <div class='field-row'>
                <input type='text' name='buyer-name-2'>
            </div>
            <div class='field-row'>
                <label for='buyer-id'>Ident.:</label>
                <input type='text' name='buyer-id'>
                <label for='buyer-emission'>Org. Emissor:</label>
                <input type='text' name='buyer-emission'>
            </div>
            <div class='field-row'>
                <label for='buyer-address'>Endereço:</label>
                <input type='text' name='buyer-address'>
            </div>
            <div class='field-row'>
                <input type='text' name='buyer-address-2'>
            </div>
            <div class='field-row'>
                <label for='buyer-city'>Cidade:</label>
                <input type='text' name='buyer-city'>
                <label for='buyer-state'>UF:</label>
                <input type='text' name='buyer-state'>
            </div>
            <div class='field-row'>
                <label for='buyer-telephone'>Telefone:</label>
                <input type='text' name='buyer-telephone'>
            </div>
        </div>
        <div id='info-dispensador'>
            <h3 class='box-heading'>
                IDENTIFICAÇÃO DO FORNECEDOR
            </h3>
            <DIV class='gap'></DIV>
            <div class='provider-line'>
                <span class='provider-signature'>
                    ASSINATURA DO FARMACÊUTICO
                </span>
                <DIV class='gap'></DIV>
                <span>Data: __/__/__</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
